* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --color-primary:  #156bd4;
    --color-primary-variant:  rgba(21, 107, 212, 0.5);
    --color-gray-0: #fff;
    --color-gray-50: #edecec;
    --color-gray-100: #e6e5e5;
    --color-gray-200: #c0c0c0;
    --color-gray-300: #a1a1a1;
    --color-gray-400: #919191;
    --color-gray-500: #7b7b7b;
    --color-gray-600: #545454;
    --color-gray-700:  #313131;
    --color-gray-800:  #1f1f1f;
    --color-gray-900:  #0e0e0e;
    --container-w-lg: 74%;
    --container-w-sm: 94%;
    --transition: all 350ms ease;
}
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background: var(--color-gray-0);
    font-size: 0.9rem;
    color: var(--color-gray-800);
    user-select: none;
}
.container {
    width: var(--container-w-lg);
    margin-inline: auto;
}
img { 
    width: 100%;
    display: block;
    object-fit: cover;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    color: var(--color-gray-900);
    font-weight: 900;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1rem;
}
h5 {
    font-size: 0.8rem;
}
a {
    transition: var(--transition);
}
.btn {
    background: var(--color-gray-0);
    border: 2px solid var(--color-gray-100);
    color: var(--color-gray-900);
    font-weight: 500;
    padding: 0.8rem 1.7rem;
    transition: var(--transition);
    cursor: pointer;
}
.btn.primary{
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}
.btn:hover {
    background: var(--color-primary-variant);
    border-color: transparent;
}
section{
    padding: 10rem 0;
}
section:nth-child(even){
    background: var(--color-gray-50);
}
section > h1, section > p {
    text-align: center;
    margin-top: 0.5rem;
    width: 30rem;
    margin-inline: auto;
}
/* ============= NAVBAR ===============*/
nav:not(.float_nav){
    background: var(--color-primary);
    width: 100vw;
    height: 3rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_container a {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}
.nav_btn{
    background: transparent;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

/*========== FLOAT NAV =========*/
.float_nav{
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: fit-content;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    padding: 0.7rem;
    border-radius: 2.2rem;
    z-index: 9;
}
.float_nav a{
    color: var(--color-gray-900);
    width: 3.2rem;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 1rem;
}
.float_nav a.active{
    
}